# Arduino build output
*.elf
*.hex
*.bin
*.o
*.d

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/



hooks/hook_debug.log
hooks/test_*.txt
hooks/test_*.json
